<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Caloryn</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <script src="lib/js/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="lib/js/angular-route.min.js"></script>
    <script src="lib/js/angular-cookies.min.js"></script>
    <script src="lib/js/angularLocalStorage.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="caloryn">
    <div id="wrapper" ng-controller="wrapperCtrl">

        <div class="messageArea" ng-controller="MessageCtrl">
            {{ message }}
        </div>

        <div class="searchInputArea">
            <input type="search" ng-change="checkDataArea()" ng-model="searchText" placeholder="食材/料理を絞り込み">
        </div>

        <div class="userInputArea" ng-controller="itemsCtrl">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>食材/料理</th>
                        <th>weight(g)</th>
                        <th>(Kcal)</th>
                        <th>protain(g)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                        <td><span ng-click="remove($index)" class="item-remover">X</span></td>
                        <td>
                            <span class="itemName" ng-bind="item.name"></span>
                        </td>
                        <td>
                            <input value="{{item.gram}}" type="number" placeholder="グラム数" min="0" max="1000" ng-model="item.gram" ng-change="calc($index)">
                        </td>
                        <td class="itemCaloryCol"><span class="itemCalory" ng-bind="item.itemCalory"></span></td>
                        <td class="itemCaloryCol"><span class="itemProtain" ng-bind="item.itemProtain"></span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td style="text-align:right" colspan=2>TOTAL</td>
                        <td ng-bind="totalWeight" class="totalWeight"></td>
                        <td ng-bind="totalCalory" class="totalCalory"></td>
                        <td ng-bind="totalProtain" class="totalProtain"></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="dataCandidatesArea" ng-controller="dataCtrl">
            <ul class="data-container labels animate-repeat">
                <li ng-repeat="row in data | filter:searchText" id="span_{{$index}}" ng-click="click(row)"><span>{{row.name}}</span></li>
                <li ng-if="results.length == 0">No results found...</li>
            </ul>
        </div>
    </div>
</body>
</html>